.content.content-panel.conent-page
  #card
    .card-inner.fade
      header
        img(src=`${main.avatar.link}` width=`${main.avatar.width}` height=`${main.avatar.height}` alt="avatar")
        h1(data-translate="name") #{main.name}
        h2#signature(data-translate="signature" auto-type=`${main.signature}`)
      ul
        each item in main.ul
          li
            a(href=`${item.href}` aria-label=`${item.text}`)
              i(class=`icon icon-${item.icon}`)
              span(data-translate=`${item.text}`) #{item.text}
  //- #jsi-flying-fish-container
  //- .animate__slideInUp.animate__animated
